---

---

<div class="nav-links"  transition:animate="slide">
    <a href="/">Inicio</a>
    <!-- TODO: [data-astro-reload] esta directiva anula el ViewTransitions -->
    <a href="/about/" data-astro-reload>Sobre mi</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Etiquetas</a>
</div>